# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.7.1
    hooks:
      # Run the linter.
      - id: ruff
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.13.0" # Use the sha / tag you want to point at
    hooks:
      - id: mypy
        additional_dependencies:
          [
            types-beautifulsoup4~=4.12.0,
            types-seaborn~=0.13.2,
            plot-likert~=0.5.0,
            pytest~=8.3.3,
          ]
        args: [--strict]
