# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.5.6
    hooks:
      # Run the linter.
      - id: ruff
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.11.1" # Use the sha / tag you want to point at
    hooks:
      - id: mypy
        additional_dependencies:
          [
            types-beautifulsoup4==4.12.0.20240106,
            types-seaborn==0.13.2.20240205,
            pytest==8.3.2
          ]
        args: [--strict]
