# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.12
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.16.0" # Use the sha / tag you want to point at
    hooks:
      - id: mypy
        additional_dependencies:
          [
            ausankey~=1.7,
            beautifulsoup4~=4.13.4,
            plot-likert~=0.5.0,
            pytest~=8.3.5,
            types-seaborn~=0.13.2,
          ]
        args: [--strict]
